<!-- Main working environment -->
<div class="main">
    <div class="flight-information">

        <button [routerLink]="['/airline/login']"  class="btn btn-link">Logout</button>
        <button (click)="delete()" class="btn btn-link">Delete</button>


        <form class="registration" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <p class="instructions">Update informations</p>

            <div class="col-3">

                <input type="text" formControlName="name" class="effect-1" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"><span class="focus-border"></span>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>

            <div class="col-3">

                <input type="email" formControlName="email" class="effect-1" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Input is not email</div>
                </div>
            </div>

            <div class="col-3">

                <input type="text" formControlName="username" class="effect-1" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>

            <div class="col-3">

                <input type="password" formControlName="password" class="effect-1" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>

            <div class="col-3">

                <input type="url" formControlName="linkToWS" class="effect-1" placeholder="LinkToWS" [ngClass]="{ 'is-invalid': submitted && f.linkToWS.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.linkToWS.errors" class="invalid-feedback">
                    <div *ngIf="f.linkToWS.errors.required">LinkToWS is required</div>
                </div>
            </div>

            <div class="col-3">

                <input type="url" formControlName="pathToData" class="effect-1" placeholder="PathToData" [ngClass]="{ 'is-invalid': submitted && f.pathToData.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.pathToData.errors" class="invalid-feedback">
                    <div *ngIf="f.pathToData.errors.required">pathToData is required</div>
                </div>
            </div>
<!--
            <div class="form-group">
                <label>TRR</label>
                <input type="text" formControlName="TRR" class="info form-control" [ngClass]="{ 'is-invalid': submitted && f.TRR.errors }"/>
                <div *ngIf="submitted && f.TRR.errors" class="invalid-feedback">
                    <div *ngIf="f.TRR.errors.required">TRR is required</div>
                </div>
            </div>
-->
            <div class="col-3">

                <input type="text" formControlName="ethAddress" class="effect-1" placeholder="ethAddress" [ngClass]="{ 'is-invalid': submitted && f.ethAddress.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.ethAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.ethAddress.errors.required">TRR is required</div>
                </div>
            </div>

            <div class="col-3">

                <input type="number" formControlName="insurancePrice" class="effect-1" placeholder="Insurance Price" [ngClass]="{ 'is-invalid': submitted && f.insurancePrice.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.insurancePrice.errors" class="invalid-feedback">
                    <div *ngIf="f.insurancePrice.errors.required">insurancePrice is required</div>
                </div>
            </div>

            <div class="col-3">

                <input type="number" formControlName="maxPayout" class="effect-1" placeholder="Max Payout" [ngClass]="{ 'is-invalid': submitted && f.maxPayout.errors }"/><span class="focus-border"></span>
                <div *ngIf="submitted && f.maxPayout.errors" class="invalid-feedback">
                    <div *ngIf="f.maxPayout.errors.required">maxPayout is required</div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <button class="next-page">Update</button>
            </footer>
            <!-- Footer END -->
        </form>
    </div>
</div>
<!-- Main working environment END -->
