<!-- Main working environment -->
<div class="main">
  <p class="instructions">Insurance Status</p>

  <div class="col-3">
    <article class="helpart">
      <p class="question">Level #1</p>
      <p class="answer">#Complete</p>
    </article>
  </div>

  <div class="col-3">
    <article class="helpart">
      <p class="question">Level #2</p>
      <p class="answer">#Complete</p>
    </article>
  </div>

  <div class="col-3">
    <article class="helpart">
      <p class="question">Level #3</p>
      <p class="answer">#Complete</p>
    </article>
  </div>

  <div class="col-3">
    <article class="helpart">
      <p class="question">Level #4</p>
      <p class="answer">#Pending...</p>
    </article>
  </div>
</div>
<!-- Main working environment END -->

<!-- Footer -->
<footer class="footer">
  <button class="next-page">Claim</button>
</footer>
<!-- Footer END -->