<!-- Main working environment -->
<script src="./node_modules/web3/dist/web3.min.js"></script>
<script language="javascript" type="text/javascript" src="src/smartinstech-sc.js"></script>

<div class="main">
    <div class="insurance-information">
        <!--<form class="insurance" [formGroup]="insurance"> -->
            <p class="instructions">New Insurance</p>
			<p id="mm-supported"></p>
			<p id="airline-supported"></p>

            <div class="form-group">
                <input id="selfPayout" type="checkbox" class="info form-control" name="selfPayout" value="selfPayout"
				onClick="adjustTotal()" />
                
				<label for="self-payout">I want to cover transaction fees myself.</label><br />
            </div>
			
			<div>
				<label for="total-price">Total price: </label>
				<p><span id="total-price"></span><span>ETH</span></p>
			</div>
			
			<!--<button type="submit" onclick="callAirlineAPI()">Search</button>-->


            <!-- Footer -->
            <footer class="footer">
                <button id="confirm-button" class="next-page">Confirm Insurance</button>

            </footer>
            <!-- Footer END 
			<img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">
			-->
        <!-- </form> -->
    </div>
</div>

<script language="javascript" type="text/javascript">
	
	//1. scan baggage tag -> parse info -> get airline
	//need function to get airline id from name or scan info
	var baggageId = [01234]; //lahko vec
	var airlineId = 0;
	var apiUrl = ''; //airline webservice
	var pricePerBaggage;
	var maxPayoutPerBaggage;
	var pathToData = '';
	var date = new Date();
	var dateTimeOfFirstPayout = (date.getTime()*1)+30*24*60*60*1000;
	var selfPayout;
	
	var total = 0;
	var url = 'https://smartinstech-server-api.herokuapp.com/api/airlines/';
	
	//function callAirlineAPI() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			   //when the document is ready:
			   
				var response = this.responseText;
				var json = JSON.parse(response);
				document.getElementById('airline-supported').innerHTML = 'Airline: '+json.name;
				apiUrl = json.linkToWS;
				pricePerBaggage = json.insurancePrice;
				maxPayoutPerBaggage = json.maxPayout;
				
				total = pricePerBagagge*baggageId.length;
				adjustTotal();

			} else {
				document.getElementById('airline-supported').innerHTML = 'Airline not supported.';
				document.getElementById('confirm-button').disabled = true;
			}
		};
		xhttp.open("GET", url, true);
		xhttp.send();
	//}
	
	function adjustTotal() {
		
		if (document.getElementById('selfPayout').checked == false) 
		{
		total = total*1.1;
		}
		
		document.getElementById('total-price').innerHTML = total;
	
	}
			
		
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script language="javascript" type="text/javascript" src="src/web3.js"></script>
<script language="javascript" type="text/javascript">
		
	//WEB3
	var userEvent = SmartInsTech.InsuraneConsluded({}, 'latest'); //local: Event(), ropsten: Event({}, 'latest')
	userEvent.watch(function(err, result){
		if (!err) {
			//if (result.blockHash != $("#userTrans").html()) 
			//	$("#loader").hide();
				
			$("#mm-supported").html('Success! <br />
			Block hash: ' +result.blockHash);
			//$("#user").html('New user: ' + web3.toAscii(result.args.firstName) + ' ' + web3.toAscii(result.args.lastName));
		} else {
			$("#loader").hide();
		}
	});

	$("#confirm-button").click(function() {
		$("#loader").show();
		SmartInsTech.createInsurance(baggageId, dateTimeOfFirstPayout, pricePerBaggage, maxPayoutPerBaggage, apiUrl, pathToData, (err, res) => {
			if (err) {
				$("#loader").hide();
				console.log('Something went wrong!');
			}
		});
	});

    </script>
<!-- Main working environment END -->

