<!-- Main working environment -->
<div class="main">
  <div class="smart-contract-info">

    <div class="container" *ngIf='!showEvent && !showEventListened'>

      <form class="smartcontractinfo" >
        <p class="instructions">Smart Contract Info</p>

        <div class="col-3">
          <p class="instructions2">Airline</p>
          <p>{{airline.name}}</p>
        </div>


        <div class="col-3">
          <p class="instructions2">Flight Number</p>
          <p>{{boardPass.flightNumber}}</p>
        </div>


        <div class="col-3">
          <p class="instructions2">Baggage Number</p>
          <p>{{baggage.baggageNumber}}</p>
        </div>

        <div class="form-group">
          <input type="checkbox" class="form-control" [(ngModel)]="selfPayout" name='selfPayout' id="selfPayout">Selfpayout<br>
        </div>



        <!-- Other informations -->
        <div class="progress">
          <table align="center">
            <tr>
              <th>INSURANCE<br>COST</th>
              <th>MAX<br>PAYOUT</th>
            </tr>
            <tr>
              <td>{{airline.insurancePrice}}</td>
              <td>{{airline.maxPayout}}</td>
            </tr>
          </table>
        </div>
        <!-- Other informations END-->

        <!-- Footer -->
        <footer class="footer">
          <button (click)='onSubmit()' class="next-page">Insure</button>
        </footer>
        <!-- Footer END -->

      </form>
    </div>


    <div class="container" *ngIf='showEvent'>

      <div class="container" *ngIf='loading'>
        <p class="instructions">Smart Contract is submitted. Wait for confirmation!</p>
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>

      <div class="container" *ngIf='!loading'>
        <p class="instructions">Smart Contract is confirmed</p>

        <div class="col-3">
          <p class="instructions2">Baggage Id</p>
          <p>{{baggageId}}</p>
        </div>

        <div class="col-3">
          <p class="instructions2">Uses address</p>
          <p>{{user}}</p>
        </div>

        <div class="col-3">
          <p class="instructions2">Price</p>
          <p>{{price}}</p>
        </div>

        <div class="col-3">
          <p class="instructions2">Max Payout</p>
          <p>{{maxPayout}}</p>
        </div>

        <div class="col-3">
          <p class="instructions2">dateTimeOfFirstPayout</p>
          <p>{{dateTimeOfFirstPayout}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Main working environment END -->