<app-barcode-scanner *ngIf='!show' [deviceId]='currentDevice' (result)="handleResult($event)"></app-barcode-scanner>
<div class="container" *ngIf='show'>
    <form>
      <div><h3>{{text}}</h3></div>
      <div *ngIf="errorText" style="color:red;"><h4>{{errorText}}</h4></div>
      <div class="form-group">
        <label for="baggageNumber">Baggage Number </label>
        <input type="text" class="form-control" [(ngModel)]="formData.baggageNumber" id="baggageNumber" name='baggageNumber'>
      </div>

      <footer class="footer">
          <button (click)='onSubmit()' class="next-page">Next</button>
      </footer>

    </form>
</div>

<!-- <button (click)="clicked()"> Click</button> -->
